body{
    max-width: 90rem;
    min-width: 22.5rem;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1em;

    --white-color: #FFFFFF;
    --brand-color: #00ADEE;
    --background-rectangle: #084482;
    --heading-color: #333333;
    --text-color: #4F4F4F;;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

/* header wrapper */
.header-wrapper{
    background-image: url("../assets/images/background-images/background-top.png");
    /*background-size: 993px 668px;*/
    background-size: 65%;
    object-fit: contain;
    background-repeat: no-repeat;
    /*background-position: bottom 44px right;*/
    background-position: right top;
}

.header{
    padding-top: 4.236111111111112%; /*61px*/
    padding-bottom: 11.38888888888889%;  /*164px*/
    display: flex;
    flex-direction: column;
}

.container-h{
    max-width: 69.688rem;
    min-width: 22.5rem;
    width: 100%;
    margin: 0 auto;
}

.logo-top{
    width: 6.188rem; /*99px*/
    height: 2rem; /*32px*/
}

.header__title{
    max-width: 48.96860986547085%; /*546px*/
    padding: 11.928251121076233% 0 2.690582959641256%; /* 133px 0 30px */
    font-style: normal;
    font-weight: bold;
    font-size: 2.25em; /*36px*/
    line-height: 133.333%; /*48px*/
    letter-spacing: 0.03em;
    /* #333333 */
    color: var(--heading-color);
}

.header__subtitle{
    max-width: 40.62780269058296%; /*453px*/
    font-style: normal;
    font-weight: 400; /*546px*/
    font-size:  1.125em; /*18px*/
    line-height: 144.444%; /*26px*/
    /* #4F4F4F */
    color: var(--text-color);
    padding-bottom: 3.125rem; /*50px*/
}

.download-app{
    max-width: 31.210762331838566%; /*348px*/
    display: flex;
    gap: 10.31609195402299%; /*35.9px*/
}

.app-store,
.google-play{
    object-fit: contain;
    width: 44.84195402298851%; /*156.05px*/
    /*height: 2.938rem; !*47px*!*/

}
.app-store:hover,
.google-play:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* section tv-player-wrapper */

.tv-player-wrapper{
    position: relative;
    background: linear-gradient(270deg,#fff 5.16%,hsla(0,0%,100%,0) 67.14%,hsla(0,0%,100%,.5)),url("../assets/images/background-images/Rectangle-left.png") no-repeat 0 0;
    background-size: 60%;
}

.rectangle{
    padding-top: 7.569444444444444%;
    padding-bottom: 5.397916666666667%;
    display: flex;
}

.container-r{
    display: flex;
    margin: 0 auto;
    max-width: 69.69rem;
    min-width: 22.5rem;
    width: 100%;
}

.rectangle-left{
    /*border: 1px solid red;*/
    position: relative;
    z-index: 0;
    padding-right: 12.0199%;
    max-width:56.244218316373725%;
    min-width: 35.892691951896396%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left-box-holder{
    max-width: 100%; /*478px*/
    /*max-width: 78.61842105263158%; !*478px*!*/
    /*border: 1px solid red;*/
    /*margin-right: 21.38157894736842%;*/
}

/*.left__item1,*/
/*.left__item2{*/
/*    width: 59.210526315789465%; !*360px*!*/
/*    min-width: 40.65953947368421%;*/
/*    height: 218px; !*247.21px*!*/
/*    min-height: 149.58px;*/
/*}*/

.left__item1{
    position: relative;
    z-index: 4;
    left: 0;
    top: 0;
}

.left__item1-img{
    position: relative;
    /*max-width: 59.210526315789465%; !*360px*!*/
    /*min-width: 40.65953947368421%; !*width: 247.21px;*!*/
    max-height: 218px;
    min-height: 149.58px;
    max-width: 75.30120481927712%;
    min-width: 51.708919009370824%;
    object-fit: cover;
    border-radius: 4px;
}
.left__item1-img:before{
    content: " ";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
}

.left__item2{
    position: relative;
    z-index: 3;
    left: 24.682061579651943%;
    /*top: -7.068807339449541%; !*-30.82px;*!*/
    top: -16.060073627844712%; /*!*-77.84px;*!*/
}

.left__item2-video{
    /*max-width: 59.210526315789465%; !*360px*!*/
    /*min-width: 40.65953947368421%; !*width: 247.21px;*!*/
    max-height: 218px;
    min-height: 149.58px;
    max-width: 75.30120481927712%;
    min-width: 51.708919009370824%;
    object-fit: cover;
}
/*.leftp{*/
/*    width: 805px;*/
/*    height: 592px;*/
/*}*/

.rectangle-right{
    position: relative;
    z-index: 5;
    max-width: 43.755781683626275%;
    /*min-width: 22.5rem;*/
    width: 100%;
}

.rectangle__link{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 131.25%;
    /* Brand Colour #00ADEE*/
    color: var(--brand-color);
}

.rectangle__link:hover{
    cursor: pointer;
    text-decoration: underline;
}

.rectangle__title{
    padding-top: 5.708245243128964%;
    padding-bottom: 5.708245243128964%;
}

.rectangle__content{
    width: 86.04651162790698%;
    padding-bottom: 5.708245243128964%;
    white-space: pre-line;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 144%;
    /* #4F4F4F */
    color: var(--text-color);
}

/* section interface-wrapper */
.interface-wrapper{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top 50% right 15%;
    background-image: url("../assets/images/background-images/background-interface.png");
}

.interface{
    padding-top: 7.222222222222221%;
    padding-bottom: 6.875000000000001%;
    display: flex;
}

.container-i{
    max-width: 69.75rem;
    /*min-width: 22.5rem;*/
    width: 100%;
    margin: 0 auto;
}

.img-360{
    display: none;
}

.left-box{
    padding-top: 113px;
    max-width: 30rem;

}

.left-box__link{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 131.25%;
    /* Brand Colour #00ADEE*/
    color: var(--brand-color);
}

.left-box__link:hover{
    cursor: pointer;
    text-decoration: underline;
}

.left-box__title{
    /*width: 100%;*/
    padding-top: 5.625%;
    padding-bottom: 5.625%;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75em;
    line-height: 132.142%;
    /* #333333 */
    color: var(--heading-color);
}

.left-box__content{
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 143.75%;
    /*height: 162px;*/
    /* #4F4F4F */
    white-space: pre-line;
    padding-bottom: 11.25%;
    color: var(--text-color);
}

/* section features*/

.features-wrapper{
    background-image: url("../assets/images/background-images/background_middle.png");
    background-repeat: no-repeat;
    overflow:hidden;
}

.features{
    padding-top: 5.277777777777778%;
    padding-bottom: 6.180555555555555%;
    /*padding-bottom: 4.583333333333333%;*/
}

.container-f{
    max-width: 69.375rem;
    min-width: 22.5rem;
    width: 100%;
    margin: 0 auto;
}

.cover{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
}

.features__header{
    margin: 0 auto 4.843049327354261%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__title{
    font-style: normal;
    font-weight: bold;
    font-size: 1.75em;
    line-height: 137%;
    /* identical to box height 37px*/
    color: var(--white-color);
}

.group-696{
    position: relative;
    z-index: 21;
    /*width: 100%;*/
    display: flex;
    flex-wrap: wrap;
    gap: 8.071748878923767%;
    /*margin-bottom: 4.0358744394618835%;*/
}

.group-696__item{
    /*flex: 1 1 0;*/
    max-width: 27.89237668161435%;
}

.group-696__item{
    padding-bottom: 0;
}

.group-696__item:nth-of-type(n+4){
    padding-bottom: 0;
    margin-top: 4.0358744394618835%;
}

.group-696__item:nth-of-type(n+7){
    padding-bottom: 0;
    margin-top: 2.780269058295964%;
}


.group-696__icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
    fill: white;
}

svg{
    width: 40px;
    height: 40px;
}

.group-696__content{
    display: list-item;
    list-style-position: inside;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 143.75%;
    /* or  line-height: 23px; */
    /* #FFFFFF */
    color: var(--white-color);
}

.group-696__content::marker{
    content: "• ";
}

/* slider part*/

.slider-wrapper{
    /*background-color: #084482;*/
    min-width: 0;
}

.slider-inner{
    padding: 4.305555555555555% 0 3.4722222222222223%;
    min-width: 0;
}

.slider-inner__title{
    text-align: center;
    padding-bottom: 63px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75em;
    line-height: 132.142%;
    /* #333333 */
    color: #333333;
}
/* representative-wrapper */

.representative-wrapper{
    width: 100%;
}

.representative{
    display: flex;
    flex-direction: column;
    padding-top: 3.958333333333333%;
    padding-bottom: 4.722222222222222%;

}

.container-r{
    max-width: 67.563rem;
    min-width: 22.5rem;
    width: 100%;
    margin: 0 auto;
}

.container__title{
    padding-bottom: 5.365402405180388%;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.75em;
    line-height: 132.14%;
    /* identical to box height  37px*/
    color: var(--heading-color);
}

.container__item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item_icon1{
    width: 149px;
    height: 49px;
}

.item_icon2{
    width: 102px;
    height: 32px;
}

.item_icon3{
    width: 69px;
    height: 58px;
}

.item_icon4{
    width: 110px;
    height: 32px;
}

.item_icon5{
    width: 48px;
    height: 48px;
}

.item_icon6{
    width: 210px;
    height: 34px;
}
/* section team-contact */

.team-contact-wrapper{
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position: top 50% right 104px;*/
    background-image: url("../assets/images/background-images/Frame 2.png");
}

.team-contact{
    padding: 7.291666666666667% 0 6.805555555555555%;
}

.container-h{
    max-width: 69.688rem;
    /*min-width: 22.5rem;*/
    width: 100%;
    margin: 0 auto;
}

.info-box{
    position: relative;
    max-width: 47.98206278026906%;
    /*display: flex;*/
    /*flex-direction: column;*/
    top: 0;
    left: 50%;
}

.team-contact__title {
    font-style: normal;
    font-weight: 700;
    padding-bottom: 6.5420560747663545%;
    font-size: 1.75em;
    line-height: 171.42%;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;
    /* #333333 */
    color: var(--heading-color);
}

.team-contact__content{
    /*width: 100%;*/
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 143.75%;

    /* #4F4F4F */
    color: var(--text-color);
    padding-bottom: 7.102803738317758%;
}

.download-app__down{
    display: flex;
    gap: 10.31609195402299%;
    /*gap: 6.710280373831775%;*/
    max-width: 65.04672897196262%;
}

.app-store__down,
.google-play__down{
    width: 44.84195402298851%;
    /*width: 156.05px;*/
}

.app-store__down:hover,
.google-play__down:hover{
    cursor: pointer;
    transform: scale(1.1);
}


/* footer-sports */
.footer-sports-wrapper{
    width: 100%;
    background-color: var(--brand-color);
}

.inner{
    padding: 3.3333333333333335% 0 3.2638888888888893%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-f{
    max-width: 69.688rem;
    /*min-width: 22.5rem;*/
    margin: 0 auto;
}
.logo__img{
    width: 99px;
    height: 32px;
}

.footer-nav{
    width: 33.90134529147982%;
    display: flex;
    gap: 9.788359788359788%;
    /*gap: 37px;*/
    align-self: center;
}

.nav__link{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 131.25%;
    /* identical to box height 21px*/
    color: var(--white-color);
}

.nav__link:hover{
    transform: scale(1.1);
}

.social-nets{
    display: flex;
    width: 9.865470852017937%;
    text-align: center;
    gap: 10%;
}
.social-nets > svg:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.social-nets > svg{
    width: 25px;
    height: 25px;
}



@media screen and (max-width: 45rem){  /*720px*/
    /* header wrapper */
    .header{
        padding: 4.444444444444445% 25% 8.194444444444445%; /* 32px 20px 59px */
    }
    .container-h{
        max-width: 45rem;
        align-items: center;
        /*border: 1px solid green;*/
    }
    .header-wrapper{
        background: none;
    }
    .header__title{
        max-width: 88.88888888888889%;
        padding: 7.385% 0 3.692%; /* 50px 0 25px */
        font-size: 1.875em; /*30px*/
        line-height: 146.66%;/*40px*/
        display: flex;
        align-items: flex-end;
        text-align: center;
        letter-spacing: 0.03em;
        /* #333333 */
        color: var(--heading-color);
    }
    .header__subtitle{
        max-width: 88.88888888888889%;
        font-size: 1em;
        line-height: 143.75%; /*23px*/
        color: var(--text-color);
        text-align: center;
    }
    .download-app{
        max-width: 88.88888888888889%; /*319.99px*/
        gap: 8.940625%; /*28.61px*/
        /*border: 1px solid red;*/
    }
    .app-store,
    .google-play{
        object-fit: contain;
        width: 45.528124999999996%; /*145.69px*/ /*height: 44px; !*44px*!*/
    }
    /* section tv-player-wrapper */
    .tv-player-wrapper{
        position: relative;
        /*background: url("../assets/images/background-images/Rectangle-left.png") no-repeat bottom;*/
        background: linear-gradient(270deg,#fff 5.16%,hsla(0,0%,100%,0) 67.14%,hsla(0,0%,100%,.5)),url("../assets/images/background-images/Rectangle-left.png") no-repeat bottom;
        background-size: 100%;
    }
    /*.tv-player-wrapper:before{*/
    /*    position: absolute;*/
    /*    z-index: 0;*/
    /*    content: "";*/
    /*    width: 75%;*/
    /*    height: 105%;*/
    /*    top: 16.5%;*/
    /*    left: 0;*/
    /*    background: linear-gradient(270deg,#fff 5.16%,hsla(0,0%,100%,0) 67.14%,hsla(0,0%,100%,.5)) no-repeat bottom center;*/
    /*    background-size: 111%;*/
    /*    transform: rotate(-90deg);*/
    /*}*/
    .rectangle{
        padding: 4.4444% 25% 8.194444444444445%; /* 32px 20px 59px */
        /*border: 1px dashed red;*/
    }
    .container-r{
        max-width: 45rem; /*720px*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rectangle-right{
        order: 1;
        text-align: center;
        max-width: 88.88888888888889%; /* 320px */
        margin-bottom: 41%;
        /*margin-bottom: 22.272541668213368%;*/
    }
    .rectangle__link{
        font-size: 1em;
        line-height: 131.25%;
        color: var(--brand-color);
    }
    .rectangle__title{
        font-size:  1.75em; /*28px*/
        line-height: 132.142%;
        text-align: center;
        padding: 8.4375% 0 6.25%;
    }
    .rectangle__content{
        width: 100%;
        padding-bottom: 6.25%;
        /*font-size: 16px;*/
        /*line-height: 23.04px;*/
        /* #4F4F4F */
    }
    .rectangle-left{
        position: relative;
        /*border: 1px dashed purple;*/
        order: 2;
        min-width: 88.88888888888889%;
        padding: 10.393852778499573% 0 0;
        margin-bottom: 40%;
    }
    /*.left__item1,*/
    /*.left__item2{*/
    /*    width: 77.253125%; !*247.21px*!*/
    /*    height: 9.349rem; !*149.58px*!*/
    /*    background-size: contain;*/
    /*    box-shadow: none;*/
    /*}*/
    /*.left__item2{*/
    /*    left: 22%;*/
    /*}*/

    .left__item1{
        left: 0;
        top: 0;
        /*z-index: 8;*/
    }

    .left__item1-img{
        min-width: 50%; /*width: 247.21px; 160px for width screen 361*/
        max-width: 77.253125%; /*width: 247.21px;*/
        max-height: 149.58px;
        min-height: 100%;
        /*width: 100%;*/
        /*box-shadow: -15.1278px 16.3884px 33.6173px rgba(0, 0, 0, 0.5);*/
        border-radius: 2.74531px;
    }
    .left__item1-img:before{
        box-shadow: -15.1278px 16.3884px 33.6173px rgba(0, 0, 0, 0.5);
    }

    .left__item2{
        position: absolute;
        /*display: flex;*/
        /*justify-content: flex-end;*/
        width: 100%;
        top: 80%; /*/*-128.27px;*/
        left: 22.746875000000003%; /*72.79%*/
        /*position: relative;*/
        /*z-index: 7;*/

        /*!*top: -7.068807339449541%; !*-30.82px;*!*!*/
    }

    .left__item2-video {
        /*position: absolute;*/
        min-width: 64.375%; /*width: 247.21px; 160px for width screen 361*/
        max-width: 77.253125%; /*width: 247.21px;*/
        max-height: 149.58px;
        min-height: 100%;
        /*width: 100%;*/
    }

    /* width: 247.21px;
height: 149.58px; */

    /* section interface-wrapper */
    .interface-wrapper{
        /*border: 2px dashed green;*/
        background-image: none;
    }
    .interface{
        padding: 8.611111111111111% 25% 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container-i{
        max-width: 45rem;
        /*min-width: 22.5rem;*/
        /*width: 100%;*/
        margin: 0;
        overflow: hidden;
    }
    .img-360{
        width: 100%;
        display: revert;
    }
    .img-360__item{
        position: relative;
        object-fit: cover;
        width: 150%;
        left: -30%;
    }
    .left-box{
        text-align: center;
        padding-top: 0;
        max-width: 88.88888888888889%;
    }
    .left-box__title{
        padding: 8.4375% 0 8.4375%;
    }
    .left-box__content{
        padding-bottom: 16.875%;

    }
    /*features*/
    .features-wrapper{
        background-image: none;
        /*background-size: 100%;*/
        /*background-repeat: no-repeat;*/
        /*overflow:hidden;*/
    }
    .features{
        padding: 5.833333333333333% 25% 9.583333333333334%;
    }
    .container-f{
        max-width: 45rem;
    }
    .features__header{
        margin: 0 0 15.625%;
    }
    .features__title{
        max-width: 86.4849833147942%;
        font-size:  1.75em;
        line-height: 132.142%;
        text-align: center;
        /* #333333 */
        color: var(--heading-color);
    }
    .group-696{
        position: relative;
        /*z-index: 21;*/
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px; /*не працює у %*/
        margin-bottom: 13.90433815350389%;
    }
    .group-696:nth-child(3){
        margin-bottom: 13.90433815350389%;
    }
    .group-696:nth-child(4){
        margin-bottom: 0;
    }
    .group-696__item{
        max-width: 86.4849833147942%;
        padding-bottom: 0;
        text-align: center;
    }
    .group-696__icon{
        width: 40px;
        height: 40px;
        fill: var(--brand-color);
    }
    .group-696__content{
        font-size: 1em;
        line-height: 143.75%;  /*line-height: 23px;*/
        text-align: center;
        padding-top: 3.058954393770857%;
        /* #4F4F4F */
        color: var(--text-color);
    }
    .group-696__content::marker{
        content: "";
    }
    /* slider part*/
    .slider-wrapper{
        /*background-color: #084482;*/
        min-width: 0;
    }
    .slider-inner{
        padding: 6.944444444444445% 25% 9.86111111111111%;
        min-width: 0;
    }
    .container-s{
        max-width: 45rem;
    }
    .slider{
        padding: 0 7.2302% 0 6.9521%;
    }
    .slider-inner__title{
        text-align: center;
        padding-bottom: 10.84538375973304%;
        font-style: normal;
        font-weight: bold;
        font-size:  1.75em;
        line-height: 132.142%;
        /* #333333 */
        color: var(--heading-color);
    }
    .slick-arrow.slick-prev{
        visibility: hidden;
    }

    .slick-arrow.slick-next{
        right: -7%;
        /*right: 0;*/
    }
    /* representative */
    .representative{
        padding: 7.916666666666667% 25% 9.861111111111111%;
    }
    .container-r{
        max-width: 45rem;
    }
    .container__title{
        padding-bottom: 13.4375%;
    }
    .container__item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .item_icon1{
        margin-right: 18.05555555555556%;
    }
    .item_icon6{
        margin-top: 11.11111111111111%;
    }
    /*team-contact-wrapper*/
    .team-contact-wrapper{
        background-position: bottom;
    }
    .team-contact{
        padding: 2.638888888888889% 25% 78.75%;
        display: flex;
        /*margin-bottom: auto;*/
    }
    .container-h{
        max-width: 45rem;
    }
    .info-box{
        position: static;
        max-width: 88.88888888888889%;

        /*margin-bottom: 307px;*/
    }
    .team-contact__title {
        padding-bottom: 4.6875%;
        line-height: 132.142%;
        letter-spacing: 0;
        text-align: center;
    }
    .team-contact__content{
        padding-bottom: 11.5625%;
        text-align: center;
    }
    .download-app__down{
        gap: 8.75%; /*28px*/
        max-width: 101%;
    }
    .app-store__down,
    .google-play__down{
        object-fit: contain;
        width: 45.528124999999996%;
        /*width: 145.69px;*/
        /*height: 44px;*/
    }
    /* footer-sports */
    .inner{
        padding: 6.944444444444445% 25% 5%;
        flex-direction: column;
        align-items: flex-start;
    }
    .container-f{
        max-width: 45rem;
        /*min-width: 22.5rem;*/
        margin: 0;
    }
    .logo__img{
        width: 99px;
        height: 32px;
        margin-bottom: 3.4375000000000004%;
    }
    .footer-nav{
        width: 100%;
        gap: 0;
        justify-content: space-between;
        order: 2;
        padding-top: 10.625%;
    }
    .social-nets{
        display: flex;
        justify-content: space-between;
        min-width: 34.0625%;
    }
    .social-nets > svg{
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 22.5rem) { /*360px*/
    /* header-wrapper */
    .header{
        padding: 8.88888888888889% 5.555555555555555% 16.38888888888889%;
    }
    .container-h{
        max-width: 22.5rem;
        align-items: center;
        /*border: 1px solid green;*/
    }
    .header-wrapper{
        background: none;
    }
    .header__title{
        max-width: 100%;
        padding: 26.875% 0 10.3125%; /* 133px 0 30px */
        font-size: 1.875em;
        line-height: 133.333%;
        display: flex;
        align-items: flex-end;
        text-align: center;
        /* #333333 */
        color:var(--heading-color);
    }
    .header__subtitle{
        max-width: 100%;
        font-size: 1em;
        line-height: 143.75%;
        text-align: center;
        /* #4F4F4F */
        color: var(--text-color);
    }
    .download-app{
        max-width: 100%; /*319.99px*/
        display: flex;
        gap: 8.940624999999999%; /*28.61px*/
    }
    .app-store,
    .google-play{
        object-fit: contain;
        width: 45.528124999999996%; /*145.69px*/
        /*height: 44px; !*44px*!*/
    }
    /* section tv-player-wrapper */
    .tv-player-wrapper{
        background: url("../assets/images/background-images/Rectangle-left.png") no-repeat bottom center;
        background-size: 140%;
        overflow: hidden;
        /*border: 2px dashed darkred;*/
    }
    .tv-player-wrapper:before{
        position: absolute;
        z-index: 0;
        content: "";
        width: 111%;
        height: 60%;
        top: 51%;
        background: linear-gradient(270deg,#fff 5.16%,hsla(0,0%,100%,0) 67.14%,hsla(0,0%,100%,.5)) no-repeat bottom center;
        background-size: 111%;
        transform: rotate(-90deg);
    }
    .rectangle{
        padding: 16.875% 6.25% 0;
    }
    .container-r{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .rectangle-right{
        order: 1;
        text-align: center;
        max-width: 100%;
        padding-bottom: 28.749999999999996%;
        margin-bottom: 0;
    }
    .rectangle-left{
        /*border: 1px dashed purple;*/
        order: 2;
        max-width: 100%;
        /*min-width: 320px;*/
        /*width: 100%;*/
        margin-bottom: 60%;
    }
    .left__item1,
    .left__item2{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    .left__item2{
        left: 22%;
    }

    .left__item1-img,
    .left__item2-video{
        width: 100%;
        max-height: 100%;
        min-height: 149.58px;
    }
    .left__item1-img:before {
        box-shadow: -15.1278px 16.3884px 33.6173px rgba(0, 0, 0, 0.5);
    }
    .rectangle__title{
        max-width: 100%;
        font-size: 1.875em;
        line-height: 132.142%;
        text-align: center;
        padding: 8.4375% 0 6.25%;
    }
    .rectangle__content{
        max-width: 100%;
        padding-bottom: 5.9375%;
        font-size: 1em;
        line-height: 144%;
        /* #4F4F4F */
    }
    /* section interface-wrapper */
    .interface-wrapper{
        /*border: 2px dashed green;*/
        background-image: none;
    }
    .interface{
        padding: 19.375% 6.25% 0;
        width: 100%;
        flex-direction: column;
    }
    .container-i{
        max-width: 22.5rem;
        /*min-width: 22.5rem;*/
        margin: 0;
        overflow: hidden;
    }
    .img-360{
        width: 100%;
        /*display: revert;*/
    }
    .img-360__item{
        position: relative;
        object-fit: cover;
        width: 150%;
        left: -26%;
        overflow: hidden;
    }
    .left-box{
        text-align: center;
        padding-top: 0;
        max-width: 100%;
    }
    .left-box__link{
        text-decoration: none;
    }
    .left-box__title{
        max-width: 100%;
        padding: 8.4375% 0 8.4375%;
    }
    .left-box__content{
        padding-bottom: 16.875%;
    }
    /* section features*/
    .features-wrapper{
        background-image: none;
    }
    .features{
        padding: 13.125% 5.555555555555555% 21.5625%;
    }
    .container-f{
        max-width: 22.5rem;
    }
    .features__header{
        max-width: 100%;
        margin: 0 0 15.625%;
    }
    .features__title{
        max-width: 100%;
        font-size: 1.75em;
        line-height: 132%;
        text-align: center;
        white-space: pre-line;
        /* #333333 */
        color: var(--heading-color);
    }
    .group-696{
        position: relative;
        /*z-index: 21;*/
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 15.625%;
    }
    .group-696__item{
        max-width: 97.1875%;
        padding-bottom: 0;
        text-align: center;
    }
    .group-696__icon{
        width: 40px;
        height: 40px;
        fill: var(--brand-color);
    }
    .group-696__content{
        font-size: 1em;
        line-height: 143.75%; /*line-height: 23px;*/
        text-align: center;
        padding-top: 3.536977491961415%;
        /* #4F4F4F */
        color: var(--text-color);
    }
    .group-696__content::marker{
        content: "";
    }
    /* slider part*/
    .slider-wrapper{
        /*background-color: #084482;*/
        min-width: 0;
    }
    .slider-inner{
        padding: 50px 25px 71px 26px;
        min-width: 0;
    }
    .slider-inner__title{
        text-align: center;
        padding-bottom: 63px;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        /* identical to box height */
        /* #333333 */
        color: var(--heading-color);
    }
    .slick-arrow.slick-prev{
        /*left: -7%;*/
        /*left: 0;*/
        /*display: none;*/
        visibility: hidden;
    }
    .slick-arrow.slick-next{
        right: -7%;
        /*right: 0;*/
    }
    /*representative part*/
    .representative{
        padding: 17.8125% 6.25% 22.1875%;
    }
    .container-r{
        max-width: 22.5rem;
    }
    .container__title{
        padding-bottom: 13.65079365079365%;
    }
    .container__item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .item_icon1{
        margin-right: 20%;
    }
    .item_icon6{
        margin-top: 12.6984126984127%;
    }
    /* section team-contact */
    .team-contact-wrapper{
        background-position: bottom;
    }
    .team-contact{
        padding: 5.9375% 6.25% 0;
        display: flex;
    }
    .container-h{
        max-width: 22.5rem;
    }
    .info-box{
        position: static;
        max-width: 100%;
        /*display: flex;*/
        /*flex-direction: column;*/
        top: 0;
        left: 50%;
        margin-bottom: 97.46031746031746%;
    }
    .team-contact__title {
        padding-bottom: 4.761904761904762%;
        line-height: 132.142%;
        letter-spacing: 0;
        text-align: center;
    }
    .team-contact__content{
        line-height: 156.25%;
        padding-bottom: 11.746031746031745%;
        text-align: center;
    }
    .download-app__down{
        gap: 8%;
        max-width: 100%;
    }
    .app-store__down,
    .google-play__down{
        width: 46.25%;
        object-fit: contain;
    }
    /* footer-sports */
    .inner{
        padding: 12.8% 6.2% 14% 5.9%;
        flex-direction: column;
        /*display: flex;*/
        align-items: flex-start;
        /*justify-content: space-between;*/
    }
    .container-f{
        max-width: 22.5rem;
        margin: 0;
    }
    .logo__img{
        width: 99px;
        height: 32px;
        margin-bottom: 3.481012658227848%;
    }
    .footer-nav{
        width: 100%;
        gap: 0;
        justify-content: space-between;
        order: 2;
        margin-top: 10.759493670886076%;
    }
    .social-nets{
        display: flex;
        justify-content: space-between;
        min-width: 34.0625%;
    }
    .social-nets > svg{
        width: 25px;
        height: 25px;
    }
}
